.row {
	margin: 0 !important;
}
/* debug */

#navbar-item-aaa-warning {
	background: yellow;
	position: absolute;
	left: 50%;
}

#navbar-item-aaa-warning.test-server-warning {
	background: orange
}

#navbar-item-aaa-warning.dev-server-warning {
	background: red
}

#article-meta {
	display: none;
	position: absolute;
	right: 1.2em;
	box-shadow: 0 6px 12px rgba(0,0,0,.176) !important;
	z-index: 10;
}

#article-meta a {
	margin-left: 1em
}


.cmp_series_list {
    width:100%;
}

.cmp_series_list .obj_monograph_summary {
	margin-bottom: 1vh !important;
	padding: 1vh 0;
	padding-right: 2vh;
	border-bottom: 0.1vw solid #f1f1f1;
	text-align: justify;
}

#dai_navbar .navbar-right {
	margin-right: 0;
}


.obj_monograph_full .main_entry .author-list:nth-of-type(2) .label {
	font-weight: normal !important;
}

.obj_monograph_full .main_entry div.item.abstract {
	text-align: justify;
}

.obj_monograph_full .title, .obj_monograph_full .main_entry,
.obj_monograph_full .details {
    margin-bottom: 20px;
    width: 540px;
    line-height: normal;
}

.pkp_structure_main .page .about_section .description {
	text-align:justify;
}

.page_catalog_series .about_section .description p {
	padding: 1vh 0;
}
