.row {
	margin: 0 !important;
}
/* debug */

#navbar-item-aaa-warning {
	background: yellow;
	position: absolute;
	left: 50%;
}

#navbar-item-aaa-warning.test-server-warning {
	background: orange
}

#navbar-item-aaa-warning.dev-server-warning {
	background: red
}

#article-meta {
	display: none;
	position: absolute;
	right: 1.2em;
	box-shadow: 0 6px 12px rgba(0,0,0,.176) !important;
	z-index: 10;
}

#article-meta a {
	margin-left: 1em
}

.pkp_site_name .is_text span {
	line-height: 45px;
}

.cmp_series_list {
	width:100%;
}

.cmp_series_list .row {
	margin-bottom: 0.5em;
}